appdirs==1.4.4
atomicwrites==1.4.0
attrs
beautifulsoup4==4.10.0
black
bs4==0.0.1
certifi 
chardet==3.0.4
charset-normalizer
click==7.1.2
colorama
coverage==5.2.1
docutils==0.16
Flask==1.1.2
flit==2.3.0
flit_core==2.3.0
idna
iniconfig
itsdangerous==2.0.1
Jinja2==3.0.1
lxml==4.9.1
MarkupSafe==2.0.1
more-itertools==8.4.0
mypy-extensions
packaging
pathspec
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.5
pytest-cov==2.10.0
python-dotenv==0.14.0
pytoml==0.1.21
regex
requests 
soupsieve
tabulate==0.8.9
toml
tomli
typed-ast==1.4.1
typer==0.4.0
urllib3
Werkzeug==0.16.0
